@using ClienteRegalosDulces.Helpers
<aside class="app-sidebar d-flex flex-column">
    <div class="app-logo flex-shrink-0" data-prefix="v5.1.0" data-action="playsound" data-soundpath="media/sound/" data-soundfile="sawhisp.mp3">
        <!-- <img src="../../img/logo.svg" alt="logo"> -->
        <!-- please check docs on how to update this logo different dimensions -->
        <svg class="custom-logo">
            <use href="../../img/app-logo.svg#custom-logo"></use>
        </svg>
        <div class="logo-backdrop">
            <div class="blobs">
                <svg viewbox="0 0 1200 1200">
                    <g class="blob blob-1">
                        <path />
                    </g>
                    <g class="blob blob-2">
                        <path />
                    </g>
                    <g class="blob blob-3">
                        <path />
                    </g>
                    <g class="blob blob-4">
                        <path />
                    </g>
                    <g class="blob blob-1 alt">
                        <path />
                    </g>
                    <g class="blob blob-2 alt">
                        <path />
                    </g>
                    <g class="blob blob-3 alt">
                        <path />
                    </g>
                    <g class="blob blob-4 alt">
                        <path />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <nav id="js-primary-nav" class="primary-nav flex-grow-1 custom-scroll">
        <ul id="js-nav-menu" class="nav-menu">
            <li class="nav-title"><span>Analytics</span></li>
            <li class="nav-item @Html.IsParentActive(["Dashboard"], ["Index"])">
                <a href="@Url.Action("Index", "Dashboard")" title="Dashboard" data-filter-tags="">
                    <svg class="sa-icon">
                        <use href="../../../../img/sprite.svg#trello"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Dashboard</span>
                </a>
            </li>
            <li class="nav-title"><span>Operations</span></li>
            <li class="nav-item @Html.IsParentActive(["Categoria"], ["Index", "Crud"])">
                <a href="@Url.Action("Index", "Categoria")" title="Claim Box" data-filter-tags="">
                    <svg class="sa-icon sa-thin">
                        <use href="../../../../img/sprite.svg#alert-circle"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Categorias</span>
                </a>
            </li>
            <li class="nav-item @Html.IsParentActive(["Inventario"], ["Index", "Crud"])">
                <a href="@Url.Action("Index", "Inventario")" title="Blog Moderation" data-filter-tags="">
                    <svg class="sa-icon sa-thin">
                        <use href="../../../../img/sprite.svg#book-open"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Inventario</span>
                </a>
            </li>
            <li class="nav-item @Html.IsParentActive(["Recordatorio"], ["Index", "Crud"])">
                <a href="@Url.Action("Index", "Recordatorio")" title="Blog Lists" data-filter-tags="">
                    <svg class="sa-icon sa-thin">
                        <use href="../../../../img/sprite.svg#book"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Mensajes de Publicidad</span>
                </a>
            </li>
            <li class="nav-item @Html.IsParentActive(["WsGroup"], ["Index", "Crud"])">
                <a href="@Url.Action("Index", "WsGroup")" title="Blog Lists" data-filter-tags="">
                    <svg class="sa-icon sa-thin">
                        <use href="../../../../img/sprite.svg#book"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Grupos de WhatsApp</span>
                </a>
            </li>
            <li class="nav-item @Html.IsParentActive(["Tamano"], ["Index", "Crud"])">
                <a href="@Url.Action("Index", "Tamano")" title="Blog Lists" data-filter-tags="">
                    <svg class="sa-icon sa-thin">
                        <use href="../../../../img/sprite.svg#book"></use>
                    </svg>
                    <span class="nav-link-text" data-i18n="">Tamanos de Tortas</span>
                </a>
            </li>
        </ul>
        <div class="no-results-msg pt-3 info-container">
            <h6 class="mb-1"> No menu items found.</h6>
            <p class="fs-sm">Try searching with different keywords.</p>
            <div class="d-flex align-items-center gap-1 fs-xs fw-500 font-style-italic">
                <kbd class="kbd-key">
                    <svg width="15" height="15" aria-label="Escape key" role="img">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2">
                            <path d="M13.6167 8.936c-.1065.3583-.6883.962-1.4875.962-.7993 0-1.653-.9165-1.653-2.1258v-.5678c0-1.2548.7896-2.1016 1.653-2.1016.8634 0 1.3601.4778 1.4875 1.0724M9 6c-.1352-.4735-.7506-.9219-1.46-.8972-.7092.0246-1.344.57-1.344 1.2166s.4198.8812 1.3445.9805C8.465 7.3992 8.968 7.9337 9 8.5c.032.5663-.454 1.398-1.4595 1.398C6.6593 9.898 6 9 5.963 8.4851m-1.4748.5368c-.2635.5941-.8099.876-1.5443.876s-1.7073-.6248-1.7073-2.204v-.4603c0-1.0416.721-2.131 1.7073-2.131.9864 0 1.6425 1.031 1.5443 2.2492h-2.956"></path>
                        </g>
                    </svg>
                </kbd> to reset
            </div>
        </div>
    </nav>


    <div class="nav-footer">
        <svg class="sa-icon sa-thin sa-icon-success">
            <use href="../../img/sprite.svg#wifi"></use>
        </svg>
    </div>
</aside>
